@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap');

body{
    margin: 0;
    background-color: #000000;
    color: #ffffff;
}
*, ::before, ::after {
    box-sizing: border-box;
}
/* Topbar CSS starts */
#topbar { 
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Share Tech Mono';
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 99;
}
.topbar-btn {
    display: flex;
    align-items: center;
}
.topbar-a {
    transition: 0.5s;
    color: rgb(171, 171, 171);
    border: none;
    padding: 0 25px 0 8px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-left: 2px solid #4583ff;;
}
.topbar-a-1 {
    color: white;
    cursor: not-allowed;
}
.topbar-btn > a:hover {
    color: #ffffff;
}
.logo {
    margin: 0;
}
.logo > span {
    color: #4583ff;
}

    /*Topbar ends*/


#main{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    
}
#mid
{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2px;   
    align-items: center;
    width: 800px;
    z-index: 1;
}

#left
{
    background-color: blue;
    
    
}
#right
{
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap:10px;
    height: 100vh;
}
.ele
{
    padding-bottom: 20px;
}
.ele >img{
    width: 450px;
    max-height: 600 px;
    border: 2px solid #4583ff;;
}
#right>a>img
{
    border-radius: 50%; 
    width: 40px;
}