@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Roboto&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body{
   background: linear-gradient(to right,#2397e4 20%,#51a1ca);
    margin: 0;
}
*, ::before, ::after {
    box-sizing: border-box;
}
#topbar { 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: rgb(255, 255, 255);
  font-family: 'Share Tech Mono';
  font-size: 40px;
  letter-spacing: 2px;
  z-index: 99;
}
.topbar-btn {
  display: flex;
  align-items: center;
}
.topbar-a {
  transition: 0.5s;
  color: rgb(171, 171, 171);
  border: none;
  padding: 0 25px 0 8px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.topbar-a-3 {
  color: white;
  cursor: default;
}
.topbar-btn > a:hover {
  color: #ffffff;
}
.logo {
  margin: 0;
}
.logo > span {
  color: #4583ff;
}


.main1{
  margin: 0;
  margin-top: 80px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

}
.header{
    margin-top: 30px;
    margin-left: 15px;
    color:rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
}
.header h2{
  margin-left: 105px;
}
.forms-header{
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5vh;
    height: 82vh;
    width: 50vw;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 20px;
    backdrop-filter: blur(5px);
}
.img{
  height: 40vw;
  width: 50vw;
  margin-left: -70px;
  margin-top: -50px;
}

.forms{
    font-family: 'Nunito', sans-serif;
    margin-left: 3vw;
    margin-top: 5vh;
}
.forms input{
    border-radius: 1%;
    border: none;
    width: 10vw;
    border-bottom: 1px solid black;
}
.forms h2{
  text-align: center;
  font-size: 3vw;
}


h3{
  font-family:'Nunito', sans-serif;
  text-align: center;
  font-size: 1.8vw;
}
.emoji{
  display: flex;
  flex-shrink: inherit;
  flex-direction: row;
  margin-top: -15px;
  margin: 3vw;
  margin-bottom: 0;

  
}
.emoji svg{
  width: 4vw;
  height: 4vh;
  margin-left: 80px;
  transition: 0.3s;
  
}

  
svg:hover{
  fill: #ffffff;
  cursor: pointer;
  transform: scale(1.15);
  
}
.submit{
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vw;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 3vw;
  height: 3vw;
  width: 7vw;
  margin-left: 21vw;
  margin-top: 2vw;
  transition: 0.3s;
}
.submit:hover{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  cursor: pointer;
}
.popup{
  font-family: 'Nunito', sans-serif;
  width: 20vw;
  padding-bottom: 2vw;
  top: 50%;
  left: 50%;
  position: fixed;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  z-index: 1px;
  text-align: center;
  border-radius: 2vw;
  visibility: hidden;
  transition: 0.7s;
  border: 1px solid black;
}
.done{
  border: none;
  background-color: black;
  color: aliceblue;
  border-radius: 2vw;
}
.done:hover{
  cursor: pointer;
  background-color:#ffffff;
  color: #000;
}
.open-popup{
  visibility: visible;
}
.open-main1{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
@media screen and (max-width: 400px) {
  .forms-header{
    height: 100%;
  }
  
}
