@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
*, ::before, ::after {
    box-sizing: border-box;
}

.main {
    
}

/* Topbar CSS starts */
#topbar {
    /* background: linear-gradient(to right, rgb(108, 169, 255), rgb(72, 72, 255)); */
    background-color: #000000;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Caveat';
    font-size: 40px;
    letter-spacing: 2px;
}
.topbar-btn > button {
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding: 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    cursor: pointer;
}
.logox {
    color: rgb(255, 106, 72);
}
/* Topbar CSS ends */

.periodic-table-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(7, 60px);
    background-color: aliceblue;
    gap: 4px;
}
.element {
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    cursor:cell;
    transition: 0.05s;
    border: 1px solid black;
}
.element-atomic-details {
    display: flex;
    justify-content: space-between;
}
.element-atomic-no, .element-atomic-mass {
    font-size: 11px;
}
.element-atomic-symbol {
    font-size: 25px;
    align-self: center;
}
.element-atomic-name {
    font-size: 8px;
    align-self: center;
}

.element:hover {
    scale: 180%;
}