@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Roboto&family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
}
*, ::before, ::after {
    box-sizing: border-box;
}
::selection {
    background-color: white;
    color: black;
}
/* Topbar CSS starts */
#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #4583ff;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #ffffff;
    font-family: 'Share Tech Mono';
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 99;
}
.topbar-btn {
    display: flex;
    align-items: center;
}
.topbar-a {
    transition: 0.3s;
    color: #EBD4CB;
    border: none;
    padding: 0 25px 0 8px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    /* border-left: 2px solid white; */
}

.topbar-btn > a:hover {
    color: #ffffff;
}
.logo {
    margin: 0;
    cursor: pointer;
}
.logo > a {
    text-decoration: none;
    color: #1B3022;
}
/* .logo > a > span {
    color: #00ffaa;
} */

/* Topbar CSS ends */

.landing-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    margin-top: 80px;
    font-family: 'Albert sans';
    padding-left: 30px;
    padding-right: 60px;
    background-color: rgb(69, 131, 255);
}
.landing-1-text > h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.landing-1-text > p {
    font-size: 18px;
}
.landing-1 > img {
    height: 90%;   
}

.landing-2-content {
    margin-top: 80px;
    height: 300vh;
    color: #ffffff;
    font-family: 'roboto';
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.landing-2-content > button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.landing-2-content > button:hover {
    background-color: #000000;
    color: white;
}