@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500&family=Roboto&family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
*, ::before, ::after {
    box-sizing: border-box; 
}
::selection {
    background-color: white;
    color: black;
}
/* Topbar CSS starts */
#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    color: #ffffff;
    font-family: 'Share Tech Mono';
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 999;
}
.topbar-btn { 
    display: flex;
    align-items: center;
}
.topbar-a {
    transition: 0.3s;
    color: #ffffff;
    border: none;
    padding: 0 25px 0 8px;
    font-family: 'Roboto';
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    /* border-left: 2px solid white; */
}

.topbar-btn > a:hover {
    color: #ffa7a7;
}
.logo {
    margin: 0;
    cursor: pointer;
}
.logo > a {
    text-decoration: none;
    color: white;
}
.logo > a > span {
    color: #4583ff;
}

/* Topbar CSS ends */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.periodic-table-container {
    margin-top: 80px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(10, 60px);
    gap: 4px;
    padding: 20px;
    --a: rgba(255, 255, 255, 0.2);
    --c: rgba(255, 0, 0, 0.5);
    --d: rgba(255, 242, 4, 0.5);
}
.element {
    width: 100%;
    height: 100%;
    padding: 3px;
    /* background: rgba(255, 255, 255, 0.2); */
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Albert sans';
    cursor:pointer;
    transition: 0.1s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
.element-atomic-details {
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.element-atomic-no, .element-atomic-mass {
    font-size: 10px;
    pointer-events: none;
}
.element-atomic-symbol {
    font-size: 25px;
    align-self: center;
    pointer-events: none;
}
.element-atomic-name {
    font-size: 8px;
    align-self: center;
    pointer-events: none;
}

.element:hover {
    scale: 180%;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.element2 {grid-column: 18 / 19;}
.element5, .element13 {grid-column: 13 /14;}
.element58, .element90 {grid-column: 4 / 5;}

.s-block {
    background: var(--c);
    /* background: rgba(255, 0, 0, 0.5); */
}
.d-block {
    background: rgba(0, 153, 255, 0.5);
}
.p-block {
    background: var(--d);
    /* background: rgba(255, 242, 4, 0.5); */
}
.f-block {
    background: rgba(40, 255, 2, 0.5);
}

.selector {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4583ff;
    border-radius: 3px;
    font-family: 'Albert Sans';
    font-size: 16px;
    cursor: pointer;
}
.s-block-selector {
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    background: rgba(255, 0, 0, 0.5);
}
.p-block-selector {
    grid-column: 8 / 10;
    grid-row: 1 / 2;
    background: rgba(255, 242, 4, 0.5);
}
.d-block-selector {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    background: rgba(0, 153, 255, 0.5);
}
.f-block-selector {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
    background: rgba(40, 255, 2, 0.5);
}

.s-block-selector:hover {
    --c: rgba(255, 0, 0, 0.5);
}

.elements-wiki {
    display: none; 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    backdrop-filter: blur(5px);
}
.iframe-container > iframe {
    width: 800px;
    height: 500px;
    z-index: 100;
}
.iframe-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.elements-wiki.active {
    display: block;
}
.iframe-container.anim {
    max-height: fit-content;
}
.xmark {
    margin-bottom: 10px;
    cursor: pointer;
    align-self: flex-end;
    width: 30px;
}

@media only screen and (max-width: 1250px) {
    .periodic-table {
        grid-template-columns: repeat(18, 56px);
        grid-template-rows: repeat(10, 56px);
        gap: 3px;
        padding: 0 10px 20px 10px;
        overflow-x: auto;
    }
    .element-atomic-no, .element-atomic-mass {
        font-size: 8px;
    }
    .element-atomic-symbol {
        font-size: 20px;
    }
    .element:hover {
        scale: 160%;
    }
}