@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway&display=swap');

body{
    background-image: url("back1.jpg");
    color: white;
    background-size:cover;
}

aside{
    text-align: center;
    font-family: 'Orbitron';
    background-color: rgb(76, 76, 76);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 450px;
    border-radius: 10px;
}

.decorationTop{
    height: 25px;
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aside{
    height: 100vh;
}

aside > img{
    height: 100px;
    border-radius: 90px;
    width: 100px;
    border: 5px white solid;
    padding: 5px;
    margin-top: 10px;
}

aside > img:hover{
    transform: scale(1.2);
    background-color: rgb(225, 225, 36);
}

.sideFooter{
    padding-bottom: 5px;
    font-size: 30px;
}

aside > h2{
    margin-bottom: 5px;
}

aside > h4{
    margin-top: 5px;
    margin-bottom: 10px;
}

aside > h3{
    margin-top:10px;
    margin-bottom: 20px;
}

.mainContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1{
    text-align: center;
    background-color:  rgb(76, 76, 76);
    border-radius: 15px;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
}

.mainDecoration{
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    background-color: yellow;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main1 > h1{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main1 > p{
    margin: 5px;
    margin-bottom: 15px;
}

.main1 > p > a{
    text-decoration: none;
    color:yellow;
}

.main1 > .pastExp > .exp > h6{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    color: yellow;
    text-align: left;
    padding-left: 10px;
}

.main1 > .pastExp > .exp > ul{
    margin-top: 5px;
    padding-left: 20px;
    text-decoration: none;
}

.main1 > .pastExp > .exp > ul > li{
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.main1 > .pastExp > .exp > ul > li > a{
    text-decoration: none;
    color:white;
}

.mainFooter{
    padding: 10px;
    padding-top: 30px;
}

.sideFooter > a :hover{
    color: black;
}
