@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;900&family=Roboto&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}
::selection {
    background-color: white;
    color: black;
}
/* Topbar CSS starts */
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: #000000;
  font-family: 'Share Tech Mono';
  font-size: 40px;
  letter-spacing: 2px;
  z-index: 99;
}
.topbar-btn {
  display: flex;
  align-items: center;
}
.topbar-a {
  transition: 0.3s;
  color: #c4c4c4;
  border: none;
  padding: 0 25px 0 8px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  /* border-left: 2px solid white; */
}

.topbar-btn > a:hover {
  color: #ffffff;
}
.logo {
  margin: 0;
  cursor: pointer;
}
.logo > a {
  text-decoration: none;
  color: #ffffff;
}
.logo > a > span {
  color: #ff5851;
}
/* Topbar CSS ends */

#top-cont
{
margin-top: 80px;
text-align: center;
height: 500px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #ff5851;
border-bottom-right-radius: 10%;
}
h2
{
font-family:'albert sans';
    font-size: 100px;
    color: #000000;
    margin: 0;
    margin-left: -6px;
}
#top-text
{
    display: flex;
    flex-direction: column;
}
#create
{
    padding-top: 130px;
    padding-left: 70px;
    padding-right: 70px;
    grid-template-rows: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
    gap: 10px;  
    background-color: rgb(0, 0, 0);
}
.image-div            
{
    margin-left: 60px;
    border: 10px solid hsl(0, 0%, 100%);
    width:200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.image-div > img 
{
    width: 100%;
}
.men 
{
  border-radius: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:fixed;
  background-color: #ed8383;
  padding: 10px;
  border: 5px solid #564b4b;
  height:500px;
  text-align: center;
}


#heading
{
    margin-top:130px;
    font-family: 'Share tech mono';
    font-size: 60px;
    color: #ffffff;
    padding-top: 100px;
    text-align: center ;
}
.profileimg>img
{
    border:solid 2px #000000;
    position: relative;
    transform: translate(0px,-40px);
    width:150px;

    height: 150px;
    border-radius: 50%;
}
.men>a{
    width:fit-content;
    font-family: 'Albert Sans';
    font-weight: 700;
    border:none;
    color: rgb(255, 0, 0);
    background-color:#000000;
    transition: 0.4s;
    text-decoration:none;
}
.men>a:hover
{
color: #ffffff;
}



.text
{
  font-size: 18px;
  position:relative;
    margin-top:-130px;
    font-weight: 700;
}

p{
    font-family: 'aboreto';

}

.men>.text{
  font-family: 'aboreto';
  color: white;
}
.men>.Desc{
  font-family: 'albert sans';
  font-weight: 200;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 1250px) {
  #create {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 1;
  }
}
@media only screen and (max-width: 850px) {
  #create {
    grid-template-columns: 1fr;
    grid-template-rows: 1 1 1;
  }
}


