body{
  background-color:   rgb(40, 38, 38);
  
}
.intro{
    
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40vw;

   

    
}
.head{
    text-align: center;
    color: rgb(197, 133, 37);
    font-family: 'Open Sans', sans-serif;
    font-size: 20vw;
    margin-top: 1vh;
    background:rgb(40, 38, 38) ;    
    align-items: center;
    margin-left: 2vw;
}

h1{
    font-size: 13vw;
    margin: -2vh;
}
p{
    font-size: 2vw;
}
img{
    background-color: rgb(40, 38, 38);
   
}

.arrow {
    background-color: rgb(40, 38, 38);
    margin-left: 30vw;
    height: 10vh;
    width: 10vh;
    border: 4px solid  rgb(197, 133, 37);
    border-radius:50% ;
    background-color: rgb(197, 133, 37);
    font-family: 'Open Sans', sans-serif;;
    
}
.arrow:hover{
    cursor: pointer;
    border: 4px solid rgb(197, 133, 37);
    height: 12vh;
    width: 12vh;
    font-size: 2vh;
    
    
}

