@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Nunito+Sans:wght@600&display=swap');
body{
    background-color: rgb(40, 38, 38);
    margin: 0;
}
h1{

    font-size: 5vw;
    color: rgb(197, 133, 37);
    margin-top: 1vw;
    font-family: 'Open Sans', sans-serif;
    width: fit-content;
    margin-left: 2vw;


   
}
.greet{
    color:rgb(197, 133, 37) ;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2vw;
    font-size: 3vw;
}

.intro{
    
    margin-top: 5vw;
    color: rgb(237, 237, 237);
    border-bottom: 1px solid rgb(197, 133, 37);
    padding-bottom: 5vh;
    align-items: center;
    padding-bottom: 5vw;
    height: fit-content;
    margin-left: 0vw;
    text-indent: 2vw;
    
    
}
.para1{
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 2vw;
    font-size: 1.5vw;
    color:darkgray;
   
}
  
.menu{
    position: relative;
   display: flex;
   align-items: center;
   border-bottom: 1px solid rgb(197, 133, 37);

}
.bar{
    position: absolute;
    top: 10;
    right: 0;
    height: 5vw;
    margin-right: 5vw;

   
   

}

.about,.contact,.projects{
    
    font-family: 'Open Sans', sans-serif; 
    margin-left: 2vw;
    background-color: rgb(40, 38, 38);
    color: rgb(197, 133, 37);
    border: none;
    
}

.about:hover,.contact:hover,.projects:hover{
    border-bottom:0.2vw solid rgb(197, 133, 37);
    height: fit-content;
    cursor: pointer;
}

.me_intro,.me_projects,.me_contact{
    
    font-family:'Open Sans', sans-serif; 
    color: rgb(237, 237, 237);
    margin-left: 2vw;
    font-size: 2vw;
}
.head,.head2,.head3{
    color: rgb(197, 133, 37);
    
}
.boutpara,.propara,.contactpara{
    font-family: 'Nunito Sans', sans-serif;
    color:darkgray;
    font-size: 1.2vw;
}
.end{
    min-height: 100vh;
    border: none;
    background-color: black;
    border-top: 2px solid rgb(197, 133, 37);
    
}
.ps{
    color:rgb(237, 237, 237);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2vw;
    margin-left: 2vw;
}
.profile img{
    height: 10vw;
    width: 10vw;
    margin-left: 2vw;
    margin-bottom: 3vw;
    border-radius: 50%;
    border: 3px solid rgb(197, 133, 37);
    border-style:double;
    
}
.rover img,.space img{
    height: 13vw;
    width: 15vw;
    border-radius: 50%;
    border: 4px solid rgb(197, 133, 37);
}
ul{
    width: fit-content;
    font-family: 'Nunito Sans', sans-serif;
    color: darkgray;
}
.procontain{
    display: flex;
    flex-direction: row;
}
.git,.mail,.phn{
    height: 3vw;
    width: 4vw;
    margin-left: 2vw;
}
.git img{
    height:3vw;
    width :4vw;
    margin-left: -0.5vw;
}